game-end-information {
  span {
    font-size: 4.4rem;
    color: #5C546A;
  }

  .no-padding{
    padding: 0px;
  }

  .container {
    width: 100%;
    background-color: #E7EEEF;
  }

  .container > ion-col > div {
    width: 100%;
    padding: 47%;
  }

  .record-icon {
    background: url("../assets/images/record.svg") no-repeat center;
    background-size: 60%;
  }

  .score-icon {
    background: url("../assets/images/test.svg") no-repeat center;
    background-size: 60%;
  }

}

