.thematics-title{
  font-size: 4.5rem;
  color: #f6f2f1;
  font-weight: normal;
}

.vertical-align-content > * {
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}


.padding-xs{
  padding: 2%;
}

.bg-style {
  background-color: #596273;
}
