
//.btn-sq-lg {
//  width: 150px;
//  height: 150px;
//}

.btn-square {
  padding: 50%;
  width: 50%;
}


.logo {
  background: url("../../../assets/images/automobile.svg") no-repeat center;
  background-size: 80%;
  background-color: #72bcc5;

}
