<ion-content>
  <div class="page-game">
    <div class="score">{{score}}</div>

    <div class="center vs" [class.wrong]="animating && gameOver">VS</div>
    <div *ngIf="animating && gameOver" class="center wrong">
      <svg class="status red" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="circle cross__circle" cx="26" cy="26" r="25" fill="none"/>
        <line class="path" fill="none" x1="11.49604" y1="13.14959" x2="40.50396" y2="38.85041"/>
        <line class="path" fill="none" x1="40.50396" y1="13.19683" x2="11.49604" y2="38.80317"/>
      </svg>
    </div>

    <div *ngIf="animating && !gameOver" class="center wright">
      <svg class="status green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" width="75">
        <circle class="circle checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
        <path class="path" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
      </svg>
    </div>
    <water-bubble class="center" [reset]="animating" [percentage]="percentage"></water-bubble>

    <item *ngIf="!!lastQuestion" class="item-1" [item]="lastQuestion?.proposition1" [leaving]="true"></item>
    <item class="item-1" [showValue]="animating" [item]="currentQuestion?.proposition1" (click)="game.replyA()"></item>
    <item *ngIf="!!lastQuestion" class="item-2" [item]="lastQuestion?.proposition2" [leaving]="true"></item>
    <item class="item-2" [showValue]="animating" [item]="currentQuestion?.proposition2" (click)="game.replyB()"></item>

  </div>
</ion-content>
