page-game-end {

  .vertical-align-content-page > * {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }

  .background-page {
    background-color: #72BCC5;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(67deg, rgba(255,255,255,.5) 0%,rgba(120,192,224,0) 100%);
    }
  }

  .title-page {
    font-size: 4.4rem;
    color: #E7EEEF;
  }

  .btn-square {
    padding: 50%;
    width: 50%;
  }

  .replay-icon {
    background: url("../../assets/images/reload.svg") no-repeat center;
    background-size: 55%;
    background-color: #E7EEEF;
  }

  .main-menu-icon {
    background: url("../../assets/images/list.svg") no-repeat center;
    background-size: 50%;
    background-color: #E7EEEF;

  }


}
