page-game-question {
  background: #72BCC5 linear-gradient(67deg, rgb(184, 221, 226) 0%, rgb(114, 188, 197) 100%);
  h1 {
    font-size: 4em;
    font-weight: 900;
    text-align: left;
    max-width: 540px;
    margin: auto;
  }
}
