.main-menu-header {
  width: 100%;
  position: absolute;
  bottom: 6rem;
}


.main-menu-title{
  font-size: 5rem;
  color: darkgrey;
  font-weight: normal;
}


.vertical-align-content > * {
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}
